@import url("https://fonts.googleapis.com/css2?family=Gaegu&family=Karla:ital,wght@0,200..800;1,200..800&display=swap");

* {
  font-family: Gaegu;
  font-size: 14px;
}

.web-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: center;
  height: 100vh;
}
/* Body */
.popup-body {
  width: 260px;
  margin: 0px;
}

.popup-container {
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
  padding-top: 8px;
  background-color: white;
}

.popup-heading {
  padding-top: 25px;
  padding-left: 25px;
  margin-right: 25px;
  background-color: white;
  display: inline-flex;
}

.popup-heading-text {
  display: flex;
  flex-direction: column;
}

.popup-heading h1 {
  color: black;
  margin-bottom: 0px;
  /* font-family: Roboto; */
}

.input-container {
  display: flex;
}

.site-inpt {
  border-radius: 10px;
  padding: 0.5rem;
  border: 1px solid black;
  margin-bottom: 10px;
  margin-right: 10px;
  color: black;
}
.enter {
  background-color: #ff635b;
  color: white;
  height: 30px;
  margin-bottom: 10px;
  margin-right: 0px;
}

.button-container {
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
}

.block-btn {
  background-color: #ff635b;
  color: white;
}

.catpic {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

h1 {
  font-size: 18px;
  font-weight: bold;
  /* text-decoration: underline; */
  color: black;
}

h2 {
  font-size: 14px;
  color: black;
}
/*Sliders*/
#status {
  white-space: pre;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 400px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  border: 1px solid black;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  border: 1px solid black;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

/*Sliders - rounded*/
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Slider - checking */
input:checked + .slider {
  background-color: #ff635b;
}

input:focus + .slider {
  box-shadow: 0 0 1px #ff635b;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}
/* Button */
button {
  border: 1px solid black;
  border-radius: 8px;
  color: white;
  background-color: black;
  padding: 3vw;
  margin-right: 3vw;
  margin-bottom: 3vw;
  font-size: 3vmin;
  cursor: pointer;
  display: inline-block;
  min-width: 40px;
  max-width: 200px;
}

.button:hover {
  background: #ff635b;
  color: white;
}
.submit {
  color: #ffffff;
  background-color: #ccc;
}

.slider.round:before {
  border-radius: 50%;
}
/* Links */
a:link {
  color: #ff635b;
}
a:visited {
  color: #ccc;
}

/* Logo */
img {
  max-width: 60%;
}
